.footer {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  color: #ccc;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer a {
  color: #00aaff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Hide footer on screens wider than 1050px */
@media (min-width: 1050px) {
  .footer {
    display: none;
  }
}
